/node_modules
/public/hot
/public/temp
/public/downloads
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/vendor
/.vagrant
*.lock
*lock.json
*.orig
**/*.orig
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
access_log
error_log
.env.dusk
.env.dusk.local
debug.log
phpunit.dusk.xml
vendor/mpdf/mpdf/tmp/
NOTAS.txt
RR1.txt
RR2.txt
RR3.txt